[report]
include=
    src/*.py
    tests/*.py
omit=
    src/registration/__init__.py
    src/registration/compat.py
    src/registration/migrations/*.py
exclude_lines=
    pragma: no cover
    if __name__ == .__main__.:
