include README.rst
include requirements.txt
include requirements-test.txt
include requirements-docs.txt
recursive-include src/registration/locale *.po *.mo
recursive-include src/registration/templates *.html
recursive-include src/registration/templates *.txt
